.title{
  font-family: $opensan;
  text-transform: uppercase;
  color: #3f3939;
  font-size: 18px;
  line-height: 38px;
  font-weight: bold;
  border-bottom: 1px solid $color-border;
}
.box_partner{
  padding: 40px 0;
}