/*FOOTER 1*/
.footer-1{
  ul{
    li{
      color: #fff;
      display: flow-root;
      margin-bottom: 20px;
      .icons{
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ff5112;
        color: #ff5112;
        float: left;
      }
      p{
        padding-left: 60px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}